{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static './css/materialize.css' %}"
      media="screen,projection"
    />
    <link
      href="https://fonts.googleapis.com/css?family=B612|Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static './css/style.css' %}"
    />
    <title>Zuhdi's Portofolio</title>
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}{% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    <script src="{% static './js/materialize.js' %}"></script>
    <script src="{% static './js/script.js' %}"></script>
  </body>
</html>
