<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <!-- <a href="#" class="brand-logo">Z</a> -->
      <ul id="nav-mobile" class="center-align hide-on-small-only">
        <li><a href="{% url 'portofolio' %}">Home</a></li>
        <li><a href="{% url 'portofolio' %}#about">About Me</a></li>
        <li><a href="{% url 'portofolio' %}#skill">Skills</a></li>
        <li><a href="{% url 'portofolio' %}#project">Projects</a></li>
        <li><a href="{% url 'jadwal:schedule_list' %}">Schedule</a></li>
      </ul>
    </div>
  </nav>
</div>
