{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<section class="section row jadwal">
    <h4>Schedule</h4>
    <form class="col m12" action="{% url 'jadwal:schedule' %}" method="post">
        {% csrf_token %}
        {% for field in form_jadwal %}
            <div class="input-field">
                {{ field }}
                {{ field.label_tag }}
            </div>
        {% endfor %}
        
        <input type="hidden" name="id" value="{{ activity_id }}">

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</section>
{% endblock %}