{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="section row list-jadwal">
        <a href="{% url 'jadwal:schedule' %}" class="waves-effect waves-light btn">ADD ACTIVITY</a>
        <ul class="collapsible expandable">
                {% for day in list_day %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">today</i>{{ day }}</div>
                    <div class="collapsible-body">
                        <div class="row">
                                {% for item in list_activity %}
                                {% if day == item.day %}
                                    <div class="col m4">
                                        <p class="judul">{{ item.activity_detail }}</p>
                                        <div class="row items">
                                            <div class="col m4">
                                                <i class="material-icons">
                                                category
                                                </i>
                                            </div>
                                            <div class="col m8">
                                                <p>
                                                    {{ item.category }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row items">
                                            <div class="col m4">
                                                <i class="material-icons">
                                                map
                                                </i>
                                            </div>
                                            <div class="col m8">
                                                <p>

                                                    {{ item.place }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row items">
                                            <div class="col m4">
                                                <i class="material-icons">
                                                calendar_today
                                                </i>
                                            </div>
                                            <div class="col m8">
                                                <p>

                                                    {{ item.day }}
                                                </p>
                                            </div>
                                        </div>
            
                                        <div class="row items">
                                            <div class="col m4">
                                                <i class="material-icons">
                                                date_range
                                                </i>
                                            </div>
                                            <div class="col m8">
                                                <p>
                                                    {{ item.date }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row items">
                                            <div class="col m4">
                                                <i class="material-icons">
                                                access_time
                                                </i>
                                            </div>
                                            <div class="col m8">
                                                <p>
                                                    {{ item.time }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row items">
                                            <div class="col m4">
                                                <i class="material-icons">
                                                description
                                                </i>
                                            </div>
                                            <div class="col m8">
                                                <p>
                                                    {{ item.description }}
                                                </p>
                                            </div>
                                        </div>
                                        <form class="col s6 delete" action="{% url 'jadwal:delete' item.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn-small waves-effect waves-light red accent-3" type="submit" name="action">Delete
                                                <i class="material-icons right">delete</i>
                                            </button>
                                        </form>
                                        <div class="edit col s6">
                                            <a class="btn-small waves-effect waves-light green accent-3" href="{% url 'jadwal:edit' item.id %}">Edit<i class="material-icons right">edit</i></a>
                                        </div>
                                    
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}