{% load static %}
    <section class="row contact">
      <h4>Reach me on</h4>
      <div class="row contact-box">
        <div class="col m3 s6 contact-icon">
          <a href="https://www.linkedin.com/in/mzuhdi52/">
            <img src="{% static 'portofolio/src/linkedin.svg' %}" alt="LinkedIn" />
          </a>
        </div>
        <div class="col m3 s6 contact-icon">
          <a href="mailto:mzuhdi.zamrud@gmail.com">
            <img src="{% static 'portofolio/src/gmail.svg' %}" alt="GMail" />
          </a>
        </div>
        <div class="col m3 s6 contact-icon">
          <a href="https://github.com/KiddoKidz">
            <img src="{% static 'portofolio/src/github-sign.svg' %}" alt="Github" />
          </a>
        </div>
        <div class="col m3 s6 contact-icon">
          <a href="{% url 'form' %}">
            <img src="{% static 'portofolio/src/logo_feed.png' %}" alt="Feedback" />
          </a>
        </div>
      </div>
    </section>