{% extends 'base.html' %}
{% block navbar %} 
    {% include "navbar.html" %} 
{% endblock %}

{% block content %}
    <section class="section row forms">
      <h4>
        Feedback Form
      </h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" />
            <label for="first_name">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <div class="row button-cont">
          <button class="btn waves-effect waves-light">Send</button>
        </div>
      </form>
    </section>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}